<h1>Add New Merchant</h1>
<form action= "/users/<%= @user.id %>/merchants" method="post">
  

<label>
  <p>Name: <input type="text" name="name"></p>
</label>


<input type = "submit" value = "Submit"/>


</form>