<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- <h1 class = "title"></h1> -->
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin|Cabin+Sketch" rel="stylesheet">
</head>
<body>
  <nav>
    <a href="/users">Change User</a>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
</body>
</html>