
body {
  font-family: 'Cabin', sans-serif;
  margin: 0px;
}

#content {
  display: flex;
}

.aside {
  flex: 2;
  background-color: #383A3F;
  color: ivory;
  padding: 1em;
}

.aside a {
  color:white;
}

.aside a:visited {
  color:white;
}

.aside a:hover {
  color:ivory;
}


#main {
  flex: 8;
  height: 100vh;
  color: #383A3F;
  /*overflow: scroll;*/
  padding: 1em;
}

#charts {
  flex: 3;
  padding:2em;
  justify-content:space-between;
}

#charts a {
  padding:4em;
  margin: 0;
}



h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 40pt;
}
