<aside class="aside">
  <h1>Cash Control</h1>
  <p><a href="/users/<%= @user.id() %>">Home</a></p>
  <p><a href="/users/<%= @user.id() %>/transactions">See Transactions</a></p>
</aside>

<section id="main">
<h1>Categories</h1>
<% for tag in @tags %>
<p><%= tag.label() %></p>
<hr>
<% end %>
</section>