<h1>Add New Tag</h1>
<form action= "/users/<%= @user.id %>/tags" method="post">
  

<label>
  <p>Label: <input type="text" name="label"></p>
</label>


<input type = "submit" value = "Submit"/>


</form>