<aside class="aside">
  <h1>Cash Control</h1>
  <p><a href="/users/<%= @user.id() %>">Home</a></p>
  <p><a href="/users">Change User</a></p>
</aside>

<section id="main">

<h1>Add funds</h1>

<form action= "/users/<%=@user.id%>/funds_added" method= "post">

  <label>
    <p>Amount added: <input type="number" name="funds_added"></p>
  </label>  

  <label>
    <p><input type="submit" value="SUBMIT"></p>
  </label>

</form>
</section>