<aside class="aside">
  <h1>Cash Control</h1>
  <p><a href="/users">Change User</a></p>
</aside>


<section id="main">



<h1>Create New User</h1>

<form action= "/users" method= "post">
  <label>
    <p>Username: <input type="text" name="username"></p>
  </label>  
  <label>
    <p>Funds: <input type="number" name="funds" value ="0.00"></p>
  </label>  
  <label>
    <p>Monthly Limit: <input type="number" name="monthly_limit" value ="0.00"></p>
  </label>  
  <label>
    <p>Monthly Income: <input type="number" name="monthly_income" value ="0.00"></p>
  </label>  
  <label>
    <p>Pay Day: <input type="number" name="pay_day" value ="1"></p>
  </label>  
  <label>
    <p><input type="submit" value="SUBMIT"></p>
  </label>
</form>
</section>