<p><a href="/users/new">Register</a></p>

<hr>

<% for user in @users %> 

<p>Name: <%= user.username() %> </p>
<p>Funds: £<%= "%.2f" % user.funds() %> </p>
<p>Monthy Limit: £<%= "%.2f" % user.monthly_limit %></p>
<p><a href="/users/<%= user.id %>">See Account</a></p>

<hr>

<% end %>