<h1>Add funds</h1>

<form action= "/users/<%=@user.id%>/funds_added" method= "post">

  <label>
    <p>Amount added: <input type="number" name="funds_added"></p>
  </label>  

  <label>
    <p><input type="submit" value="SUBMIT"></p>
  </label>

</form>