<p><a href="/users/new">Register</a></p>

<hr>

<% for user in @users %> 

<p>Name: <%= user.username() %> </p>
<p>Funds: <%= user.funds() %> </p>
<p>Monthy Limit: <%= user.monthly_limit %></p>
<p><a href="/users/<%= user.id %>">User Details</a></p>

<hr>

<% end %>